@model ltweb_.Models.ChuyenDi

@{
    ViewBag.Title = "CreateChuyenDi";
    Layout = "~/Views/Dashboard/DashboardIndex.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="container">
    <h4>Tạo chuyến đi</h4>
    <hr />
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                @Html.LabelFor(model => model.DiemXuatPhat, new { @class = "form-label" })
                @Html.EditorFor(model => model.DiemXuatPhat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiemXuatPhat, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiemDiCuThe, new { @class = "form-label" })
                @Html.EditorFor(model => model.DiemDiCuThe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiemDiCuThe, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiemDen, new { @class = "form-label" })
                @Html.EditorFor(model => model.DiemDen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiemDen, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiemDenCuThe, new { @class = "form-label" })
                @Html.EditorFor(model => model.DiemDenCuThe, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DiemDenCuThe, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ThoiGianDi, new { @class = "form-label" })
                <input type="text" id="ThoiGianDi" name="ThoiGianDi" class="form-control flatpickr" data-enable-time="true" data-date-format="Y-m-d H:i">
                @Html.ValidationMessageFor(model => model.ThoiGianDi, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ThoiGianDen, new { @class = "form-label" })
                <input type="text" id="ThoiGianDen" name="ThoiGianDen" class="form-control flatpickr" data-enable-time="true" data-date-format="Y-m-d H:i">
                @Html.ValidationMessageFor(model => model.ThoiGianDen, "", new { @class = "text-danger" })
            </div>

        </div>

        <div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.IdNhanVien, "Tài xế:", new { @class = "form-label" })
                @Html.DropDownList("IdNhanVien", (SelectList)ViewBag.NhanVienList, "Chọn tài xế", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdNhanVien, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.IdXeKhach, "Xe khách:", new { @class = "form-label" })
                @Html.DropDownList("IdXeKhach", (SelectList)ViewBag.XeKhachList, "Chọn xe", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdXeKhach, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Gia, new { @class = "form-label" })
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ThoiGianDuKien, new { @class = "form-label" })
                @Html.EditorFor(model => model.ThoiGianDuKien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ThoiGianDuKien, "", new { @class = "text-danger" })
            </div>
            <div class="form-group text-center" style="margin-top: 5px">
                <input type="submit" value="Create" class="btn btn-primary" />
                @Html.ActionLink("Quay Lại", "QuanLyChuyenDi", new { }, new { @class = "btn btn-secondary", style = "margin-left: 10px;" })
            </div>
        </div>

    </div>
</div>
}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        flatpickr(".flatpickr", {
            enableTime: true,
            dateFormat: "d/m/Y H:i",
            minDate: "today",
        });
    });
</script>
