
@{
    ViewBag.Title = "TrangChu";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}
<br />

<div id="wrapper">
    <div class="popular-route">
        <div class="popular-route-title">
            <h2>Tuyến đường phổ biến</h2>
            <h4>Được khách hàng tin tưởng và lựa chọn</h4>
        </div>
        <div class="box-content">
            <div class="main-box-route">
                <div class="box-img">
                    <!-- Khung ảnh 1 -->
                    <div class="col-12 col-md-4">
                        <div class="image-container">
                            <div class="city-content">
                                <img class="city-banner" src="~/Content/images/tphcm.jpg" />
                                <div class="text-content">
                                    <p class="text-route">Tuyến xe từ</p>
                                    <p class="cityName">Tp Hồ Chí Minh</p>
                                </div>
                            </div>
                            <div class="below-image-content">
                                <div class="popular-content">
                                    <p class="cityTran">Đà lạt</p>
                                    <p class="estimatedRoute">305km - 8 giờ - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                    <p class="averagePrice">xxx.xxxVND</p>
                                </div>
                                <div class="popular-content">
                                    <p class="cityTran">Cần Thơ</p>
                                    <p class="estimatedRoute">166km - 3 giờ 12 phút - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                    <p class="averagePrice">xxx.xxxVND</p>
                                </div>
                                <div class="popular-content">
                                    <p class="cityTran">Long Xuyên</p>
                                    <p class="estimatedRoute">186km - 5 giờ - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                    <p class="averagePrice">xxx.xxxVND</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Khung ảnh 2 -->
                    <div class="col-12 col-md-4">
                        <div class="image-container">
                            <div class="city-content">
                                <img class="city-banner" src="~/Content/images/dalat.jpg" />
                                <div class="text-content">
                                    <p class="text-route">Tuyến xe từ</p>
                                    <p class="cityName">Đà Lạt</p>
                                </div>
                                <div class="below-image-content">
                                    <div class="popular-content">
                                        <p class="cityTran">Đà lạt</p>
                                        <p class="estimatedRoute">305km - 8 giờ - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                        <p class="averagePrice">xxx.xxxVND</p>
                                    </div>
                                    <div class="popular-content">
                                        <p class="cityTran">Cần Thơ</p>
                                        <p class="estimatedRoute">166km - 3 giờ 12 phút - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                        <p class="averagePrice">xxx.xxxVND</p>
                                    </div>
                                    <div class="popular-content">
                                        <p class="cityTran">Long Xuyên</p>
                                        <p class="estimatedRoute">186km - 5 giờ - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                        <p class="averagePrice">xxx.xxxVND</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    <!-- Khung ảnh 3 -->
                    <div class="col-12 col-md-4">
                        <div class="image-container">
                            <div class="city-content">
                                <img class="city-banner" src="~/Content/images/danang.jpg" />
                                <div class="text-content">
                                    <p class="text-route">Tuyến xe từ</p>
                                    <p class="cityName">Đà Nẵng</p>
                                </div>
                                <div class="below-image-content">
                                    <div class="popular-content">
                                        <p class="cityTran">Đà lạt</p>
                                        <p class="estimatedRoute">305km - 8 giờ - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                        <p class="averagePrice">xxx.xxxVND</p>
                                    </div>
                                    <div class="popular-content">
                                        <p class="cityTran">Cần Thơ</p>
                                        <p class="estimatedRoute">166km - 3 giờ 12 phút - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                        <p class="averagePrice">xxx.xxxVND</p>
                                    </div>
                                    <div class="popular-content">
                                        <p class="cityTran">Long Xuyên</p>
                                        <p class="estimatedRoute">186km - 5 giờ - @DateTime.Today.Day/@DateTime.Today.Month/@DateTime.Today.Year</p>
                                        <p class="averagePrice">xxx.xxxVND</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                </div>
                </div>
        </div>
    </div>
    <br />
    <br />
    <div class="discount-product">
        <div class="category-title-container bg-primary text-white p-2">Khuyến mãi nổi bật</div>
        <div class="discount-container">
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/uu dai.png" class="product-img" style="width: 300px; transition: transform 0.2s " />
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/1x_VXR_Jan_DD_20k_ud_5d61cb0aa5.jpg" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/img_card.jpg" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/img_card (1).jpg" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/uu dai.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <!-- Thêm các discount-item khác nếu cần -->
        </div>
    </div>
    <br />
    <br />
    <div class="partner-discount-product">
        <div class="category-title-container bg-primary text-white p-2">Ưu đãi từ đối tác</div>
        <div class="discount-container">
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/viettel.jpg" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/sale.jpg" class="product-img" style="width: 300px; transition: transform 0.2s">
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/img_card (2).jpg" class="product-img" style="width: 300px; transition: transform 0.2s">
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/momo-upload-api-230607100601-638217291619734565.jpg" class="product-img" style="width: 300px; transition: transform 0.2s">
            </div>
            <div class="product-item" style="margin-right: 5px;">
                <img src="~/Content/images/momo-upload-api-230627161151-638234791114371730.jpg" class="product-img" style="width: 300px; transition: transform 0.2s">
            </div>
        </div>
    </div>


    <br />
    <br />
    <div class="news-product">
        <div class="category-title-container bg-primary text-white p-2">Tin tức mới từ BTH</div>
        <div class="news-container">
            <div class="product-item">
                <img src="~/Content/images/chuyen-xe-mua-xuan_1920x690_op.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/banner-mobile_960x-11.jpg" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/tet_thumb_facebook_700x366.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/ve-xe-le-2-9-750x440.jpg" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/chuyen-xe-mua-xuan_1920x690_op.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/optimize_mobile_540x172-export-to-960x.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <!-- Thêm các discount-item khác nếu cần -->
        </div>
    </div>
    <br />
    <br />
    <div class="for-manager-product">
        <div class="category-title-container bg-primary text-white p-2">Dành cho đối tác của BTH</div>
        <div class="manager-container">
            <div class="product-item">
                <img src="~/Content/images/vexere-startup-giup-nha-xe-chuyen-doi-so_zalo-640x360-1.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/UQfcpUyd_o.jpg" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/phan-mem-nha-xe-vexere_zalo-640x360-1.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/tinh-nang-quan-ly-khach-hang_blog-990x.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/chuyen-xe-mua-xuan_1920x690_op.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <div class="product-item">
                <img src="~/Content/images/vexere-startup-giup-nha-xe-chuyen-doi-so_zalo-640x360-1.png" class="product-img" style="width: 300px; transition: transform 0.2s ">
            </div>
            <!-- Thêm các discount-item khác nếu cần -->
        </div>
    </div>
    <br />
    <br />
    <div class="category-title-container" style="text-align:center">Đơn giản hoá việc mua vé với BTH</div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="information-item">
                    <div class="icon-and-text">
                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/bus-car-icon.svg" class="img-information-icon img-fluid" alt="Icon" />
                        <div class="text-content">
                            <a style="font-weight: bold; font-size: 20px; display: block">4000+ nhà xe chất lượng cao</a>
                            <p>5000+ tuyến đường trên toàn quốc, chủ động và đa dạng lựa chọn.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="information-item">
                    <div class="icon-and-text">
                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/yellow-ticket-icon.svg" class="img-information-icon img-fluid" alt="Icon" />
                        <div class="text-content">
                            <a style="font-weight: bold; font-size: 20px; display: block">Đặt vé dễ dàng nhanh chóng</a>
                            <p>Đặt vé chỉ với 60s. Chọn xe yêu thích cực nhanh và thuận tiện.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="information-item">
                    <div class="icon-and-text">
                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/completement-icon.svg" class="img-information-icon img-fluid" alt="Icon" />
                        <div class="text-content">
                            <a style="font-weight: bold; font-size: 20px; display: block">Đảm bảo có vé</a>
                            <p>Hoàn ngay 200% nếu không có vé, mang đến hành trình trọn vẹn.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-3">
                <div class="information-item">
                    <div class="icon-and-text">
                        <img src="https://229a2c9fe669f7b.cmccloud.com.vn/svgIcon/coupon-icon.svg" class="img-information-icon img-fluid" alt="Icon" />
                        <div class="text-content">
                            <a style="font-weight: bold; font-size: 20px; display: block">Nhiều ưu đãi</a>
                            <p>Hàng ngàn ưu đãi cực chất độc quyền tại BTH.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
